html,
body {
    padding: 0;
    margin: 0;
    background-color: #c3c3c3;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.container {
    width: 890px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header {
    padding: 16px;
    height: 160px;
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__content {
    width: 825px;
    height: 100%;
    margin: auto;
    padding: 16px;

}

.header__content__text {
    margin: auto;
    height: 100%;
}

.profile {
    margin: 32px 16px;
}

.profile>div {
    padding: 16px;
    align-items: center;
    flex: 1 1 100%;
    background-color: #f7f7f7;
}

.profile__picture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid 2px #fff;
    background-image: url(./perfil.jpg);
    background-size: cover;
}

.scholarship {
    margin: 32px 16px;
}

.scholarship__session>div {
    border-bottom: dotted 1px black;
}

.scholarship>div {
    padding: 0 16px;
    align-items: center;
    flex: 1 1 100%;
}

/*  */

.text-align-justify {
    text-align: justify;
}

p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text__name {
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
}

.text-caption {
    font-size: 12px;
}

.text__role {
    font-size: 16px;
}

.profile__text__session {
    font-size: 14px;
}

.scholarship__text__session {
    font-size: 22px;
}

/*  */


/*  */
.blue_theme {
    background-color: #92B4EC;
}

.light_blue_theme {
    background-color: #c5dafc;
}

.gray_theme {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px black;
}

.light_yellow_theme {
    background-color: #FFE69A;
}

.yellow_theme {
    background-color: #FFD24C;
}

/*  */

/*  */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */

/*  */
.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-2 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*  */